body{
    margin: 0;
    padding: 0;
    background: 0;
}
.shadow{
    position: absolute;
    margin: 80px 20px 0;
    width: 350px;
    height: 350px;
    background: linear-gradient(0deg,#000, #262626);
}
.shadow:before,
.shadow:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(54deg, lightgrey,#0000ff, #25dd25c9, darkgrey, #f35309, lightgrey, #0000ff, #25dd25c9,
    darkgrey, #f35309);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.shadow:after{
    filter: blur(18px);
}
@keyframes animate{
    0%
    {
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}