* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }

*:before, *:after {
    box-sizing: border-box;
}

/* ===== Page ===== */

body{
    background-color: #fff;
}

/*informacoes-pessoais*/

.dados{
    position: absolute;
    margin: 100px;
    left: 330px;
}

.dados h1{
    color: black;
    text-shadow: 2px 3px 1px darkgrey;
    font-weight: 250;
    letter-spacing: 2px;
    font-size: 40px;
}

.dados h2{
    color: grey;
    text-shadow: 2px 3px 1px lightgrey;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 30px;
}

.dados h3, a{
    color: gray;
    text-shadow: 2px 3px 1px lightgrey;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 18px;
}

/*formação*/

.bio-bar{
    background: #fff;
    position: absolute;
    margin: 500px 0 0;
    box-shadow: -3px 0px 9px #000;
    width: 100%;
}

.bio-bar a{
    color: black;
    text-shadow: 2px 3px 1px darkgrey;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 30px;
    margin-left: 20px;
}

.bio-text{
    position: absolute;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    margin: 562px 30px 0;
}

/*cursos*/

.bioformation-bar{
    background: #fff;
    position: absolute;
    margin: 640px 0 0;
    box-shadow: -3px 0px 9px #000;
    width: 100%;
}

.bioformation-bar a{
    color: black;
    text-shadow: 2px 3px 1px darkgrey;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 30px;
    margin-left: 20px;
}

.bioformation-text{
    position: absolute;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 30px 0;
}

/*barraDeHabilidades*/

.skill-bar{
    background: #fff;
    position: absolute;
    margin: 1010px 0 0;
    box-shadow: -3px 0px 9px #000;
    width: 100%;
}

.skill-bar a{
    color: black;
    text-shadow: 2px 3px 1px darkgrey;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 30px;
    margin-left: 20px;
}

.skill-text{
    position: absolute;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 30px 0;
}

/* adicionar aqui os novos estilos para mobile */
@media screen and (max-width: 320px) {
    .bar-header {
        background: #fff;
        font-family: 'Raleway', sans-serif;
        float: none;
        display: block;
        text-align: left;
    }
}
