/* ===== Header ===== */

.header-paralax {

    background-image: url(); /*image*/
    /*parallax efeito de scroll*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*parallax ajustes*/
    position: fixed;
}

.header-paralax h1 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    letter-spacing: 20px;
    font-size: 50px;
    padding: 130px 0;
}

/* ==== Page ==== */

.page-parallax{
    background-image: url("../images/main/WDxWD.png");
    height: 1000px;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-parallax{
    position: absolute;
    background-color: transparent;
    margin-top: 300px;
    margin-left: 0px; /* posiciona a 0px para a esquerda */
}
